html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
img,
button,
a {
  user-select: none;
  cursor: default;
  -webkit-user-drag: none;
}

button,
a {
  cursor: default;
}
